<div class="large-6 columns">
	<div class="row">
		<h1>Treasure Generator</h1>
	</div>

	<div class="row">

		<%= form_tag(generator_path, :method => :get) do -%>

			<div class="row">
				<div id="hoard_number" class="large-6 columns">
		      <%= label_tag "hoards", "Number of hoards" %>
		      <%= number_field_tag "hoards", 1 %>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
    			<%= label_tag "random_hoard_size","Random number of treasure units per hoard?" %>
    			<%= check_box_tag "random_hoard_size" %>
				</div>

				<div id="hoard_size" class="large-6 columns">
		      <%= label_tag "units", "Treasure units per hoard" %>
		      <%= number_field_tag "units", 6 %>
				</div>
			</div>

			<div class="row">
				<div class="large-6 columns">
		      <%= label_tag "random_hoard_value", "Randomize hoard values?" %>
		      <%= check_box_tag "random_hoard_value", nil %>
			  </div>
			</div>


			<div class="row">
		    <div class="large-6 columns">
		      <%= label_tag "Treasure Unit Size (gp)" %>
		      <%= number_field_tag "unit_size", 100 %>
		  	</div>


				<div id="treasure_type_select" class="large-6 columns">
		      <%= label_tag "tresure_type", "Treasure Type" %>
		      <%= text_field_tag "treasure_type", nil, :placeholder => "A" %>
				</div>
		  </div>


		  <div class="row">
		  	<div class="small-6 columns">
					<%= submit_tag("Generate!", :class => "button [radius round]") %>
				</div>


			</div>


		<% end %>
	</div>
</div>
