<div>
	<div class="row">
		<h1>Treasure!</h1>
	</div>
	<div class="row">
	<span>Total: <%= @treasure[:total] %> gp</span>
	</div>
	<div class="row">
		<% @treasure[:parcels].each_with_index do |parcel, index| %>
			<div>
				parcel <%= index + 1 %> total: <%= parcel[:total] %> gp 
			</div> 
			<% parcel[:treasures].each do |treasure| %>
			<div class="row">
				<div class="large-8 large-offset-1 columns">
					<span><%= treasure.ttype %> (<%= treasure.descriptions.join(", ") %>) worth <%= treasure.value %> gp</span>
				</div>
			</div>
				
				<% if treasure.container != "loose" %>
				<div class="row">
					<div class="large-8 large-offset-2 columns">	
						<span>contained in <%= treasure.container %></span>
					</div>
				</div>
				<% end %>

				<% if not treasure.hidden_by.nil? %>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<span>hidden by <%= treasure.hidden_by %></span>
					</div>
				</div>
				<% end %>

				<% if not treasure.trapped_by.nil? %>
				<div class="row">
					<div class="large-8 large-offset-2 columns">
						<span>trapped by <%= treasure.trapped_by %></span>
					</div>
				</div>
				<% end %>
			
			<% end %>
		<% end %>
	</div>
</div>